*{
    margin: 0;
    font-family: sans-serif;
}
header{
    height: fit-content;
    padding: 16px;
    background-color: black;
    color: white;
    font-variant: small-caps;
}

main{
    display: grid;
    grid-template-columns: 70% 30%;
}


#content{
    margin-left: 100px;
    padding: 84px 5%;
    font-size: x-large;
}

#content  h1{
    /* margin-left: 100px; */
    padding-top: 40px;
}
#login{
    margin-top: 100px;
    padding-right:0 ;
    /* padding-right: 100px; */
    /* margin-right: 100px; */
}

#login form a{
    margin-top: 10px;
    color: white;
    margin-left: 8px;
}
#login form{
    /* background-color:black; */
    /* color: white; */
    border: 2px solid black;
    background-color: #22252a;
    color: white;
    padding: 20px;
    height: 290px;
    width: 250px;
    border-radius:4mm;
}
#login form label{
    padding:8px ;
    margin-bottom: 2px;
}
#login form input{
    padding: 10px;
    border-radius: 4mm;
}
#login form button{
    margin-top: 22px;
    background-color:cadetblue;
    color:black;
    border: none;
    font-size: large;
    padding: 10px;
    margin-left: 7px;
    border-radius: 2.5mm;
    cursor: pointer;
}